{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %} 
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>About Us</title>
</head>

<body>
	<header>
		
	</header>

	<section class="about">
		<h1>About Us</h1>
		<p style="font-weight: bold">40 CHOR IS THE FASTEST GROWING MARKETPLACE IN INDIA.</p>
		<div class="about-info">
			<div class="about-img">
				<img src="\static\TEST1.png"

                alt="">
			</div>
			<div>
	<p>40 CHOR  is a leading platform that provides GOOD QUALITY PRODUCTS 
				AT LOWEST RATE BY CHARGING NO COMMISSION FROM THE SELLER.</p>
				
			</div>
		</div>
	</section>


 {% endblock %}
